@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  color: white;
}

img {
  width: 200px;
  height: 200px;
  padding-left: 20px;
}



h2 {
  text-align: center;
  margin: 20px 0;
  margin-bottom: 30px;
  font-size: 25px;
  letter-spacing: 2px;
}

.container {
  background-color: darkblue;
  min-width: 60%;
  height: 70vh;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  position: relative;
}

.teams {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.score {
  align-self: center;
  font-size: 35px;
  
}

h1 span{
    margin:0 15px;
}

.results {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#winner {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

.results button {
  background: linear-gradient(135deg, #c711e6, #d2550c);

  outline: none;
  border: none;
  color: white;
  justify-self: center;
  margin: auto;
  width: 200px;
  border-radius: 30px;
  height: 58px;
  font-size: 20px;
}


button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 black;
  /* top,right,left,bottom */
}


button:active {
    box-shadow: none;
  }
  

.shoots span {
  border-radius: 50%;
  background-color: white;
  padding: 8px 15px;
  margin: 10px;
}
